/Main1List创建.class
/Main2List使用.class
/Main3List和Array转换.class
/Main4equals方法.class
/Main5使用Map.class
/Person.class
/Student.class
/Main6使用EnumMap.class
/Main7使用TreeMap.class
/Main7使用TreeMap$1.class
/Person2.class
/Student2.class
/Main7使用TreeMap$2.class
/Main8使用Set.class
/Main.class
/Message.class
/Main9使用Queue.class
/Main10使用Collections.class
